<div class="container-fluid">
	<br>

	<div class="row">

		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-default" style="width:100%">
				<div class="panel-heading"><h5>Maps Valves<h5></div>
				<div class="panel-body panel-padding" >
					<p><img src="images/manage_32_green.png" alt=""> Active Valves</img>
						<img src="images/manage_32_red.png" alt=""> Issued Valves</img>
					 <img src="images/manage_32.png" alt=""> Closed Valves</img></p>
					<div id="map_canvas"></div>

				</div><!-- panel body -->
			</div><!-- panel -->
		</div><!-- col -->


	</div>


</div>
