<div class="container-fluid">

  <div ng-show="view ==='list'">

  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <div class="panel panel-default" >
        <div class="panel-heading"><h5>Users</h5></div>
        <div class="panel-body panel-padding" >
          <div class="pull-right">
          <a class="btn btn-default btn-sm btn-yellow"  data-target="#mpiDialog" data-toggle="modal" ng-click="newUser()" >
              <i class="fa fa-plus"></i> New User
          </a>
        </div>
      <br>
          <table class="table table-striped" data-info="true" data-ordering="true" data-paging="true" data-searching="true" id="usersTable">
            <thead>
              <th>Username</th>
              <th>Name</th>
              <th>Role</th>
              <th>Delete</th>
            </thead>
            <tbody>
              <tr ng-repeat="item in usersList">
                <td data-title="'UserIntranet'">
                  {{item.doc.user}}
                </td>
                <td data-title="'Name'">
                  {{item.doc.name}}
                </td>
                <td data-title="'Role'">
                  {{item.doc.role}}
                </td>
                <td style="white-space: nowrap;">
                  <a class="btn btn-default btn-sm" data-target="#editUser" data-toggle="modal" ng-click="showUser(item.doc)">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a class="btn btn-default btn-sm" role="button" data-target="#deleteUser" data-toggle="modal" ng-click="selectUser(item.doc)">
                    <i class="fa fa-times"></i>
                  </a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Start new user dialog -->
	<div class="modal fade" id="mpiDialog" tabindex="-1" role="dialog" aria-labelledby="">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4  class="modal-title" id="myModalLabel">New User</h4>
	      </div>
	      <div class="modal-body">
          <form method="post" role="form" name="userForm" novalidate>
            <div class="row">
              <div class="col-md-6">

          <div class="form-group has-feedback">
							<label for="user.user" class="control-label">Username:</label>
							<input type="text" required  min="1" maxlength="100" class="form-control" id="username" name="username" data-ng-model="user.user">
              <p data-ng-show="submitted && userForm.username.$error.required" class="help-block">Required</p>
          </div>
          </div>
            <div class="col-md-6">
          <div class="form-group has-feedback">
							<label for="user.user" class="control-label">Password:</label>
							<input type="text" required  min="1" maxlength="100" class="form-control" id="password" name="password" data-ng-model="user.password">
              <p data-ng-show="submitted && userForm.password.$error.required" class="help-block">Required</p>
					</div>
          </div>
          </div>

					<div class="form-group has-feedback">
							<label for="user.name" class="control-label">Name:</label>
							<input type="text" required  min="1" maxlength="200" class="form-control" id="name" name="name" data-ng-model="user.name">
              <p data-ng-show="submitted && userForm.name.$error.required" class="help-block">Required</p>
					</div>

          <div class="form-group has-feedback">
              <label for="user.role" class="control-label">Role:</label>
              <select name="role" ng-model="user.role" class="form-control" ng-disabled="spinner.users" required="">
                      <option value="">Select</option>
                      <option value="Administrator">Administrator</option>
                      <option value="Consulter">Consulter</option>
              </select>
              <p data-ng-show="submitted && userForm.role.$error.required" class="help-block">Required</p>
            </div>
          </form>

					<br/><br/>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button type="button" class="btn btn-yellow" ng-click="submitted=true;saveUser();">Save</button>
	      </div>
	    </div>
	  </div>
	</div>
  <!-- End New Userdialog -->

  <!-- Delete user -->
  <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Delete User</h4>
        </div>
        <div class="modal-body">
          <p>
          </p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="removeUser()">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete user-->
