<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <i class="fa fa-bars"></i>
	      </button>

				<a class="navbar-brand " style="" href="#/app/home">
					<img src="images/manage_32.png" alt="" />Smart Water
				</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#/app/home">
							Home
						</a>
					</li>
					<li class="">
						<a href="#/app/admin">
							Manage
						</a>
					</li>
					<li class="">
						<a href="#/app/valves">
							Valves
						</a>
					</li>
					<li class="">
						<a href="#/app/about">
							About
						</a>
					</li>
	      </ul>
	    </div><!-- /.navbar-collapse -->

		</div>
