<div>
	<nav class="navbar navbar-default navbar-fixed-" data-role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <i class="fa fa-bars"></i>
	      </button>

				<a class="navbar-brand " style="" href="#/welcome">
					<img width="50px" src="images/ibm-logo-blue.gif" alt="" />Guadalajara
				</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#welcome">
							Tools & Services
						</a>
					</li>
					<li>
						<a href="#faq" >
							FAQ
						</a>
					</li>
					<li class="active">
						<a href="#about">
							About GDL Team
						</a>
					</li>
	      </ul>
	    </div><!-- /.navbar-collapse -->

		</div>
	</nav>
	<!-- Page Content -->
	<div id="page-content-wrapper" class="wrapper-grey">
		<div class="container-fluid">

		</div>
	</div>

	<footer class="footer" style="padding: 20px; background-color: #444; color:#fff">

		<div class="row">

					IBM Campus Tecnol&oacute;gico Guadalajara:

		</div>

	</footer>
</div>
