<div class="container-fluid">

  <div ng-show="view ==='list'">

  <div class="row">
    <div class="col-md-8 col-md-offset-1">

      <div class="panel panel-default" >
          <div class="panel-heading"><h5>Valves List</h5></div>
        <div class="panel-body panel-padding" >

          <table class="table table-striped" data-info="true" data-ordering="true" data-paging="true" data-searching="true" id="usersTable">
            <thead>
              <th>Type</th>
              <th>Id</th>
              <th>Info</th>
              <th>Status</th>
            </thead>
            <tbody>
              <tr ng-repeat="item in valvesList">
                <td >
                  {{item.doc.typeId}}
                </td>
                <td >
                  {{item.doc.deviceId}}
                </td>
                <td>
                  {{item.doc.deviceInfo.model}}
                </td>
                <td>
                  <span ng-if="item.doc.active==true && !item.doc.issued" class="label label-success"  style="width: 100%;">Open</span>
                  <span ng-if="item.doc.active==false && !item.doc.issued" class="label label-default"  style="width: 100%;">Closed</span>
                  <span ng-if="item.doc.issued" class="label label-danger"  style="width: 100%;">Unavailable</span>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
